<div class="container-fluid">
  <div class="row">
    <form (ngSubmit)='submitUser()' #userForm='ngForm'>
      
          <div class="form-group">

              <label for="name"><strong>User Name</strong></label>
              <input type="text" required class="form-control" id="name" [(ngModel)]="newUser.name" name="name" #name="ngModel">

               <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                  <p> Name is Required</p>
                  </div>
          </div>
          <button type="submit" class="btn btn-success btn-lg">Search User</button>
      </form>
  </div>
</div>